body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.row {
    display: flex;
  }
  
.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.cell.correct {
    background-color: #38a92e;
    border-color: #6aaa64;
}

.cell.misplaced {
    background-color: #c9b458;
    border-color: #c9b458;
}

.cell.incorrect {
    background-color: #787c7e;
    border-color: #787c7e;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.key {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.key:hover {
    background-color: #d0d0d0;
}